###############################################################################
# This optional.rc is a minimalistic, modular optional bash run commands file
# which aims to easily provide the means of hooking in and out of jenv.
#
# (C) 2025 Julian Monticelli
# Licensed under the MIT License
###############################################################################

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

export SUDO_PROMPT='This operation requires elevated privilege: '

MODULES="aliases.rc"

export VISUAL="nvim"
export EDITOR=$VISUAL

for MODULE in $MODULES ; do
    echo -e "Loading $MODULE... \c"
    . "$DIR/$MODULE" && echo "OK"
done
